html, body {
	margin: 0;
	background-color: #0F1119;
}

.thumbs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
	.item {
		display: inline-flex;
		margin: 12px;
		border-radius: 4px;
		position: relative;
		vertical-align: top;
		z-index: 0;

		perspective: 2000px;
 		perspective-origin: 50% 50%;
	}
		.item:hover {
			z-index: 1;
		}
		.item:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			transform: rotateX(0deg) rotateY(0deg);
			transition: 0.5s all;
			-webkit-filter: blur(1.8px);
		}
			.item:hover:after {
				-webkit-filter: blur(4px);
			}

		.item canvas,
		.item img {
			display: block;
			overflow: hidden;
			border-radius: 4px;
			position: relative;
			z-index: 1;
			cursor: pointer;
			transition: 0.5s all;
			transform: scale(1) rotateX(0deg) rotateY(0deg);
		}






		.item._top:after {
			transform: rotateX(-10deg) rotateY(0deg);
			top: 25px;
			-webkit-filter: blur(10px);
			background-color: rgba(0, 0, 0, 0.4);
		}
		.item._top canvas {
			transform: scale(1.1) rotateX(10deg) rotateY(0deg);
		}


		.item._right:after {
			transform: rotateX(00deg) rotateY(-10deg);
			left: -25px;
			-webkit-filter: blur(10px);
		}
		.item._right canvas {
			transform: scale(1.1) rotateX(00deg) rotateY(10deg);
		}


		.item._bottom:after {
			transform: rotateX(10deg) rotateY(0deg);
			top: -25px;
			-webkit-filter: blur(10px);
			background-color: rgba(0, 0, 0, 0.4);
		}
		.item._bottom canvas {
			transform: scale(1.1) rotateX(-10deg) rotateY(0deg);
		}


		.item._left:after {
			transform: rotateX(0deg) rotateY(10deg);
			left: 25px;
			-webkit-filter: blur(10px);
		}
		.item._left canvas {
			transform: scale(1.1) rotateX(0deg) rotateY(-10deg);
		}